.container-widget-calc-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleCalc {
    font-size: 18px;
    margin: 15px 0px 3px 0px;
    font-weight: 700;
}
.container_montah_polls {
    display: flex;
    justify-content: left;
}

.container_montah_polls>div {
    border: 1px solid #eee;
    background: #eee;
    padding: 5px 10px;
    margin: 10px 10px;
    cursor: pointer;
}
.activeMontag{
    border: 1px solid #eee !important;
    background: #fb313b !important;
    padding: 5px 10px !important;
    margin: 10px 10px !important;
    cursor: pointer !important;
    color: #fff !important;
    border-radius: 5px !important;
    transition: all 0.5s;
}
input#widthWind {
    border: 0px;
    font-size: 17px;
}
input#heightWind {
    border: 0px;
    font-size: 17px;
}
.sizeWH {
    font-size: 18px;
}
.price-number {
    font-size: 30px;
}
.blockTotalStyle {
    border: 1px solid #d0d0d0;
    display: inline-block;
    padding: 15px 30px 15px 10px;
}
.dopService .blockTotalStyle {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
}
.dopService .blockTotalStyle > div {
    display: block;
    max-width: 125px;
    width: 100%;
}
.blockTotalStyle {
    font-weight: 800;
}
.dop-profile {
    text-align: left;
}
.container-icon-windows {
    border: 1px solid #d0d0d0;
    text-align: center;
}
.container-icon-windows {
    border: 1px solid #d0d0d0;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}
.container-icon-windows:hover {
    border: 1px solid #fb313b;
}
.main-img-scroll {
    max-width: 480px;
    width: 100%;
}
span.textSmolle {
    font-size: 12px;
    max-width: 270px;
    display: inline-block;
}
.container_price_call {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnCallBack {
    border: 1px solid #eee;
    background: #fb313b;
    color: #fff;
    font-weight: 300;
    padding: 5px 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.btnCallBack:hover {
    border: 1px solid #fb313b;
    color: #000;
    background: #fff;
}