.container-widget-calc-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titleCalc {
    font-size: 18px;
    margin: 15px 0px 3px 0px;
    font-weight: 700;
}